In [ ]:
#running sum of 1D array
def runningSum(arr):
  for i in range(1,len(arr)):
    arr[i]=arr[i]+arr[i-1]
  return arr

In [ ]:
runningSum([1,1,1,1])

[1, 2, 3, 4]

In [ ]:
#remove duplicates from sorted array 
def duplicates(nums):
  j=0
  for i in range(len(nums)):
    if nums[j]!=nums[i]:
      j=j+1
      nums[j]=nums[i]
  return j+1

In [ ]:
duplicates([1,1,2])

2

In [ ]:
#remove element 
def remove(nums,val):
  count =0
  for i in range(len(nums)):
    if nums[i]!=val:
      nums[count]=nums[i]
      count+=1
  return count

In [ ]:
remove([3,2,2,3],3)

2

In [ ]:
#search insert position
def insert(nums,target):
  if target in nums:
    return nums.index(target)
  else:
    for i in range(len(nums)):
      if target <= nums[i]:
        return i
  return len(nums)

In [ ]:
insert([1,2,3,4,5],5)

4

In [2]:
#XOR gate
def xor(nums,start):
  xor = 0
  for i in range(nums):
    xor^= start+2*i
  return xor

In [3]:
xor(5,0)

8

In [83]:
#average salary excluding min and max
def salary(sal):
  avg=0
  sal.remove(max(sal))
  sal.remove(min(sal))
  avg= sum(sal)/len(sal)
  return avg

In [84]:
salary([8000,9000,1000,2000,3000,4000])

4250.0

In [104]:
#arithmetic progression
def ap(nums):
  nums.sort()
  d = nums[1]-nums[0]
  for i in range(2,len(nums)):
    if d != nums[i]-nums[i-1]:
      return False
  return True

In [106]:
ap([1,2,3,5])

False

In [108]:
#nums of good pairs
def goodPairs(nums):
  count = 0
  for i in range(len(nums)):
    for j in range(len(nums)):
      if(nums[i]==nums[j]) and i<j:
        count+=1
  return count

In [109]:
goodPairs([1,2,3,1,1,3])

4

In [124]:
#count good triplets
def goodTriplets(nums,a,b,c):
  count =0 
  for i in range(len(nums)):
    for j in range(i+1,len(nums)):
      for k in range(j+1,len(nums)):
        if(abs(nums[i]-nums[j])<=a) and (abs(nums[j]-nums[k])<=b) and (abs(nums[i]-nums[k])<=c):
          count+=1
  return count

In [125]:
goodTriplets([3,0,1,1,9,7],7,2,3)

4

In [126]:
#kth positive integer
#binary search
def Kinteger(nums,k):
  beg =0
  end = len(nums)
  
  while beg < end:
    mid = beg+end//2
    if nums[mid] - mid - 1<k:
      beg = mid+1
    else:
      end =mid
  return end+k